.Robot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 2;
  right: 24px;
  bottom: 24px;
  background: var(--color);
  width: 340px;
  height: 190px;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;

  span {
    position: absolute;
    left: 20px;
    bottom: 16px;
    z-index: 3;
    background: var(--color);
    padding: 4px 12px;
    border-radius: 50px;
    pointer-events: none;
  }

  svg {
    circle {
      color: var(--white);
      display: none;
    }
  }

  &.Loading {
    svg {
      circle {
        display: block;
      }
    }
  }
}

.RoomPreloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  div svg {
    color: #45caff;
    width: 50px;
    height: 50px;
  }
  > svg {
    width: 80px;
    height: 80px;
    opacity: 1;
  }
}

.Counter {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
}
