.Wrapper {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 50px;
}

.ResultsList {
  margin-top: 25px;
  width: 100%;
  li {
    display: block;

    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.NotFound {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.Header {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  gap: 20px;
}
