.SectionsEditor {
  display: flex;
  position: relative;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
  z-index: 1;
}

.Buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100px;
  button {
    padding: 12px 10px;
    min-width: 100px !important;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
  }
}

.Inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  button {
    margin-top: auto;
  }
}

.Empty {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  min-height: 80px;
  text-align: center;
  color: var(--grey);
  opacity: 0.5;
  flex: 1;
}

.Section {
  display: block;
  margin-bottom: 20px;
  width: 100%;

  p {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: var(--black);
    font-size: 14px;
    gap: 4px;
    background-color: #f3f4f6;
    padding: 10px 10px 20px 10px;
    border-radius: 16px 16px 0px 0px;
    margin-bottom: -10px;
    transition: 0.3s;

    span {
      margin-right: auto;
      flex: 1;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 10px;
        z-index: 1;
      }
    }

    button {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 20px;
      height: 20px;
      border-radius: 8px;
      border: none;
      background: var(--grey-border);
      cursor: pointer;
      overflow: hidden;
      transition: 0.3s;
      z-index: 8;
      svg {
        pointer-events: none;
      }
      &:hover {
        color: var(--white);
        background: var(--red);
      }
    }
  }

  > textarea {
    position: relative;
    z-index: 2;
    border: 1px solid var(--grey-border);
    border-radius: 12px;
    padding: 12px 20px;
    min-height: 76px;
    height: 76px;
    transition: border 0.3s;
    line-height: 1.3;
    &:focus {
      border: 1px solid var(--color);
    }
  }
}

.DragHandle {
  cursor: grab;
  user-select: none;
  touch-action: none;
}

.SoundIndicator {
  margin-left: 10px;
  position: relative;
  top: 1px;
}
