.RoomQuestion {
  display: inline-flex;
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(calc(-50% - 180px), 0%);
  padding: 10px 16px;
  background: rgba(3, 8, 22, 0.4);
  width: auto;
  max-width: calc(100% - 460px);
  text-align: center;
  border-radius: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 42px;

  p {
    font-size: 14px;
  }
}

.You {
  display: inline-block;
  position: absolute;
  left: 24px;
  bottom: 24px;
  font-size: 14px;
}
