.CandidateSingle {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  gap: 20px;
  margin-top: 20px;
}

.Interview {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 12px;
  font-size: 14px;
  li {
    position: relative;
    width: 100%;
    min-height: 16px;
    line-height: 1.3;
  }
}

.Question {
  color: var(--black);
  margin-top: 12px;
  text-align: left;
}

.Answer {
  padding-left: 50px;
  > strong {
    position: absolute;
    left: 0px;
    top: 0px;
  }
}

.Feedback {
  background: var(--grey-light);
  padding: 12px 20px 12px 50px;
  border-radius: 15px;
  svg {
    position: absolute;
    left: 20px;
    color: var(--color);
  }
}
