.AddNewInterviewForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  gap: 16px;

  > textarea {
    font-size: 14px;
    line-height: 1.5;
    color: var(--grey);
    resize: none;
  }

  textarea[name='name'] {
    width: 100%;
    font-family: var(--inter);
    font-weight: 700;
    color: var(--black);
    font-size: 24px;
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    margin-top: 0px;
  }
}

.Buttons {
  display: inline-flex;
  width: auto;
  flex-direction: row;
}

.Inputs {
  flex-direction: row;
}
