.Main {
  display: flex;
  position: relative;
  width: calc(100% - 80px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: auto;
  height: auto;
  min-height: 100vh;
  padding: 70px;
  gap: 56px;

  @media (max-width: 1279px) {
    padding: 50px 30px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding: 30px 20px;
    padding-bottom: 120px;
    gap: 30px;
  }
}
