.Connection {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 36px 80px;
}

.Titles {
  width: 100%;
  align-items: flex-start;
}

.Camera {
  width: 590px;
  height: 330px;
  position: relative;
}

.Buttons {
  width: 248px;
  text-align: center;
  margin: 0 auto;
  p {
    color: var(--grey-dark);
  }
  span {
    font-size: 12px;
    line-height: 1.4;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 248px;
  }
}

.Logo {
  display: flex;
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  z-index: 1;
  border: 1px solid var(--grey-border);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
