.InputLabel {
  width: 100%;
  &.Disabled {
    opacity: 0.4;
    pointer-events: none;
    user-select: none;
  }
}

.Input {
  display: inline-block;
  width: 248px;
  height: 50px;
  padding: 0px 20px;
  max-width: 100%;
  border-radius: 12px;
  border: 1px solid #d8d8d8;
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  transition: 0.3s;

  &:disabled {
    pointer-events: none;
    user-select: none;
  }

  &.Full {
    width: 100%;
  }

  &[class*='invalid'] {
    border: 1px solid var(--invalid);
  }

  &::placeholder {
    color: #888888;
    opacity: 1;
  }

  &:focus:not([class*='invalid']) {
    border: 1px solid var(--color);
    &::placeholder {
      opacity: 0;
    }
  }

  &.Small {
    height: 32px;
  }
}

.LabelText {
  display: block;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #888888;
  width: 100%;
  margin-bottom: 10px;
}

.RadioText {
  font-size: 14px;
}

.Input[type='radio'],
.Input[type='checkbox'] {
  //display: none;

  &[class*='invalid'] {
    + .RadioText {
      color: var(--invalid);
    }
  }
}
