.Section {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 25px;
}
