.SliderWrapper {
  position: relative;
  flex: 1;
  overflow: hidden;

  margin-top: -15px;
  margin-bottom: -15px;
  article {
    margin: 15px 12px;
  }

  &:before {
    content: '';
    width: 250px;
    height: 100%;
    position: absolute;
    background: linear-gradient(-90deg, #fff 10%, rgba(0, 0, 0, 0));
    right: 0px;
    top: 0px;
    z-index: 2;
    pointer-events: none;
  }
}

.InterviewsSlider {
  display: flex;
  position: relative;
  width: 100%;
  //min-height: 285px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}
