.Room {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #202124;
  color: var(--white);
  padding: 30px 30px 20px 30px;

  h1 {
    color: var(--white);
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.Camera {
  display: flex;
  width: 100%;
  background: #000000;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex: 1;
}
