.InterviewArticle {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 226px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  overflow: hidden;
  border-radius: 12px;
  padding: 8px;
  font-size: 12px;
  transition: 0.3s;
  box-shadow: 0px 4px 10px rgba(6, 98, 237, 0.149);
  border: 1px solid var(--grey-border);

  .Thumbnail {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 12px;
    height: 84px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    span {
      position: relative;
      font-family: var(--inter);
      font-weight: 600;
      display: inline-block;
      margin-bottom: auto;
      margin-right: auto;
      background: var(--white);
      color: var(--grey-dark);
      border-radius: 20px;
      padding: 5px 10px;
      z-index: 2;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 1;
      transition: 0.3s;
    }
  }

  .TitleBox {
    margin: 0px 0px auto 0px;
    padding: 0px 12px;
    h3 {
      margin-bottom: 8px;
      transition: 0.3s;
      a {
        transition: 0.3s;
        &:hover {
          color: var(--color);
        }
      }
    }
  }

  .Info {
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 12px;
    padding: 0px 12px 8px 12px;
    li {
      display: inline-block;
      flex-shrink: 0;

      span {
        display: inline-block;
        flex-shrink: 0;
        border: 1px solid var(--grey-border);
        border-radius: 20px;
        padding: 4px 10px;
        white-space: nowrap;
        font-family: var(--inter);
        font-weight: 600;
        color: var(--grey-dark);
      }

      &.Yellow {
        span {
          background: var(--yellow);
          border: 1px solid var(--yellow);
          color: var(--brown);
        }
      }

      &.Green {
        span {
          background: var(--green-light);
          border: var(--green-light);
          color: var(--green);
        }
      }

      &.Black {
        span {
          background: var(--grey-dark);
          border: var(--grey-dark);
          color: var(--white);
        }
      }
    }
  }

  &:hover {
    .Thumbnail {
      img {
        opacity: 0.3;
      }
    }
    .TitleBox {
      h3 {
        color: var(--color);
      }
    }
  }
}

.Link {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
}
