.Breadcrumbs {
  display: inline-flex;
  flex-wrap: wrap;
  max-width: calc(100% - 125px);

  li {
    font-family: var(--inter);
    font-weight: 700;
    font-size: 14px;
    color: var(--black);
    a {
      transition: 0.3s;
      white-space: nowrap;
    }
    a:hover {
      color: var(--color);
    }
    &:after {
      content: '>';
      color: var(--black);
      padding: 0px 6px;
    }
    &:last-child {
      &:after {
        content: none;
      }
    }
  }
}
