.InterviewInputs {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 12px;
  align-items: center;
  z-index: 20;
  margin-top: 30px;
  margin-bottom: -20px;

  > div,
  > label {
    flex: 1;
  }
}
